h1
{
    color: tan;
}

body
{
    background-color: aquamarine;

}
#exercise
{
    color: midnightblue;
    font-weight: bold;
}
#work
{
    color: midnightblue;
    font-weight: bold;
}

